[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=false
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][1][Applets][19]
immutability=1
plugin=org.kde.plasma.lock_logout

[Containments][1][Applets][19][Configuration]
PreloadWeight=0

[Containments][1][Applets][20]
immutability=1
plugin=org.kde.windowappmenu

[Containments][1][Applets][20][Configuration]
PreloadWeight=0

[Containments][1][Applets][20][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][20][Configuration][General]
containmentType=Latte
spacing=3
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][1][Applets][26]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][1][Applets][26][Configuration]
PreloadWeight=70

[Containments][1][Applets][26][Configuration][Appearance]
customDateFormat=ddd, MMM dd,
customOffsetX=53.8860103626943
customSpacing=1.2953367875647668
dateFormat=customDate
fixedFont=true
fontSize=14
showSeparator=false
use24hFormat=2

[Containments][1][Applets][26][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][7]
immutability=1
plugin=org.kde.windowtitle

[Containments][1][Applets][7][Configuration]
PreloadWeight=0

[Containments][1][Applets][7][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][1][Applets][7][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
iconFillThickness=false
iconSize=22
lengthFirstMargin=2
lengthLastMargin=2
lengthMarginsLock=false
showAppMenuOnMouseEnter=true
subsMatch="Telegram Desktop","GNU Image Manipulation Program","Zsh"
subsReplace="Telegram","GIMP","Konsole"

[Containments][1][Applets][9]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][9][Configuration]
PreloadWeight=45
SystrayContainmentId=10

[Containments][1][ConfigDialog]
DialogHeight=608
DialogWidth=480

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
advanced=false
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=7;20;9;26;19
backgroundOnlyOnMaximized=true
blurEnabled=false
dragActiveWindowEnabled=true
durationTime=x3
iconSize=22
mouseWheelActions=false
panelPosition=10
panelSize=100
plasmaBackgroundForPopups=true
scrollAction=ScrollTasks
shadowOpacity=60
shadowSize=45
shadows=None
showGlow=false
solidBackgroundForMaximized=true
splitterPosition=2
splitterPosition2=3
thickMargin=3
titleTooltips=false
userBlocksColorizingApplets=3
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=false
enabledForApplets=false
padding=0.10000000149011612
type=org.kde.latte.default

[Containments][10]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][10][Applets][11]
immutability=1
plugin=org.kde.plasma.volume

[Containments][10][Applets][11][Configuration]
PreloadWeight=5

[Containments][10][Applets][12]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][10][Applets][12][Configuration]
PreloadWeight=0

[Containments][10][Applets][13]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][10][Applets][13][Configuration]
PreloadWeight=10

[Containments][10][Applets][14]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][10][Applets][14][Configuration]
PreloadWeight=0

[Containments][10][Applets][15]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][10][Applets][15][Configuration]
PreloadWeight=0

[Containments][10][Applets][17]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][10][Applets][17][Configuration]
PreloadWeight=0

[Containments][10][Applets][22]
immutability=1
plugin=org.kde.kscreen

[Containments][10][Applets][22][Configuration]
PreloadWeight=0

[Containments][10][Applets][23]
immutability=1
plugin=touchpad

[Containments][10][Applets][23][Configuration]
PreloadWeight=0

[Containments][10][Applets][24]
immutability=1
plugin=org.kde.plasma.weather

[Containments][10][Applets][24][Configuration]
PreloadWeight=0
source=wettercom|weather|Bello Horizonte, Landes Valencia, ES|ESYY07591;Bello Horizonte
updateInterval=30
weatherServiceProviders=bbcukmet,envcan,noaa,wettercom

[Containments][10][Applets][24][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][10][Applets][27]
immutability=1
plugin=org.kde.plasma.battery

[Containments][10][Applets][27][Configuration]
PreloadWeight=42

[Containments][10][Applets][28]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][10][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][10][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.battery,org.kde.plasma.keyboardindicator,org.kde.plasma.clipboard,org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.kscreen,touchpad,org.kde.plasma.weather
hiddenItems=org.kde.kscreen,touchpad,org.kde.plasma.weather,TelegramDesktop,org.kde.plasma.devicenotifier
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.devicenotifier,org.kde.plasma.notifications,org.kde.plasma.battery,org.kde.plasma.keyboardindicator,org.kde.plasma.clipboard,org.kde.plasma.mediacontroller,org.kde.plasma.volume
shownItems=org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.networkmanagement,org.kde.plasma.clipboard

[Containments][4]
activityId=
byPassWM=false
enableKWinEdges=false
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=100
timerShow=0
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][4][Applets][5]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][4][Applets][5][Configuration]
PreloadWeight=0

[Containments][4][Applets][5][Configuration][General]
isInLatteDock=true
previewsDelay=150

[Containments][4][ConfigDialog]
DialogHeight=606
DialogWidth=480

[Containments][4][Configuration]
PreloadWeight=0

[Containments][4][General]
appletOrder=5
audioBadgeActionsEnabled=false
durationTime=x3
iconSize=48
inConfigureAppletsMode=true
launchersGroup=Global
panelShadows=false
panelSize=100
panelTransparency=40
screenEdgeMargin=10
showAudioBadge=false
showInfoBadge=false
showProgressBadge=false
taskScrollAction=ScrollNone
thickMargin=10
zoomLevel=7

[Containments][4][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][4][Indicator][org.kde.latte.default][General]
activeStyle=Dot
minimizedTaskColoredDifferently=true

[LayoutSettings]
background=
color=blue
lastUsedActivity=03a991e2-0f72-4977-ab58-1857c3b5856a
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
