[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=false
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=50
timerShow=0
viewType=0
visibility=4
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=42

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.konsole.desktop,applications:org.kde.dolphin.desktop,applications:chromium.desktop,file:///latte-separator1.desktop,applications:transmission-qt.desktop,applications:vim.desktop,file:///latte-separator2.desktop,applications:org.kde.okular.desktop,applications:libreoffice-writer.desktop,applications:libreoffice-calc.desktop,applications:libreoffice-impress.desktop,file:///latte-separator3.desktop,applications:gimp.desktop,applications:inkscape.desktop,applications:org.kde.kdenlive.desktop,file:///latte-separator4.desktop,applications:CMUS-2.desktop,applications:vlc.desktop,applications:spotify.desktop,file:///latte-separator5.desktop,applications:telegramdesktop.desktop,applications:chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop

[Containments][1][ConfigDialog]
DialogHeight=596
DialogWidth=480

[Containments][1][Configuration]
PreloadWeight=42

[Containments][1][General]
advanced=false
appletOrder=2
audioBadgeActionsEnabled=false
durationTime=x3
iconSize=48
launchersGroup=Global
panelShadows=false
panelSize=100
panelTransparency=50
screenEdgeMargin=10
shadowOpacity=60
showAudioBadge=false
showGlow=false
showInfoBadge=false
showWindowActions=true
taskScrollAction=ScrollNone
thickMargin=18
zoomLevel=7

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
activeStyle=Dot

[Containments][13]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=11
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][13][Applets][15]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][13][Applets][15][Configuration]
PreloadWeight=0

[Containments][13][Applets][16]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][13][Applets][16][Configuration]
PreloadWeight=0

[Containments][13][Applets][17]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][13][Applets][17][Configuration]
PreloadWeight=0

[Containments][13][Applets][18]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][13][Applets][18][Configuration]
PreloadWeight=100

[Containments][13][Applets][19]
immutability=1
plugin=org.kde.plasma.volume

[Containments][13][Applets][19][Configuration]
PreloadWeight=67

[Containments][13][Applets][22]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][13][Applets][22][Configuration]
PreloadWeight=57

[Containments][13][Applets][66]
immutability=1
plugin=org.kde.kscreen

[Containments][13][Applets][66][Configuration]
PreloadWeight=0

[Containments][13][Applets][80]
immutability=1
plugin=org.kde.plasma.battery

[Containments][13][Applets][82]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][13][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][13][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.volume,TelegramDesktop,org.kde.kscreen,SimpleScreenRecorder
hiddenItems=TelegramDesktop,org.kde.kscreen,org.kde.plasma.nightcolorcontrol,SimpleScreenRecorder
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.devicenotifier,org.kde.plasma.vault,org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.clipboard
shownItems=org.kde.plasma.volume

[Containments][20]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=false
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=4
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=50
timerShow=0
viewType=0
visibility=4
wallpaperplugin=org.kde.image

[Containments][20][Applets][41]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][20][Applets][41][Configuration]
PreloadWeight=42

[Containments][20][Applets][41][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.konsole.desktop,applications:org.kde.dolphin.desktop,applications:chromium.desktop,file:///latte-separator1.desktop,applications:transmission-qt.desktop,applications:vim.desktop,file:///latte-separator2.desktop,applications:org.kde.okular.desktop,applications:libreoffice-writer.desktop,applications:libreoffice-calc.desktop,applications:libreoffice-impress.desktop,file:///latte-separator3.desktop,applications:gimp.desktop,applications:inkscape.desktop,applications:org.kde.kdenlive.desktop,file:///latte-separator4.desktop,applications:CMUS-2.desktop,applications:vlc.desktop,applications:spotify.desktop,file:///latte-separator5.desktop,applications:telegramdesktop.desktop,applications:chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop

[Containments][20][ConfigDialog]
DialogHeight=604
DialogWidth=480

[Containments][20][Configuration]
PreloadWeight=42

[Containments][20][General]
advanced=false
appletOrder=41
audioBadgeActionsEnabled=false
durationTime=x3
iconSize=48
launchersGroup=Global
panelShadows=false
panelSize=100
panelTransparency=50
screenEdgeMargin=10
shadowOpacity=60
showAudioBadge=false
showGlow=false
showInfoBadge=false
showWindowActions=true
solidBackgroundForMaximized=true
taskScrollAction=ScrollNone
thickMargin=9
zoomLevel=7

[Containments][20][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][20][Indicator][org.kde.latte.default][General]
activeStyle=Dot
lengthPadding=0.04

[Containments][25]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=3
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][25][Applets][40]
immutability=1
plugin=org.kde.windowtitle

[Containments][25][Applets][40][Configuration]
PreloadWeight=42

[Containments][25][Applets][40][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][40][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
filterActivityInfo=false
filterByScreen=true
iconFillThickness=false
iconSize=22
lengthFirstMargin=6
lengthLastMargin=2
lengthMarginsLock=false
showAppMenuOnMouseEnter=true
subsMatch="Telegram Desktop","Programa de manipulação de imagem do GNU"
subsReplace="Telegram","GIMP"

[Containments][25][Applets][44]
immutability=1
plugin=org.kde.windowappmenu

[Containments][25][Applets][44][Configuration]
PreloadWeight=42

[Containments][25][Applets][44][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][25][Applets][44][Configuration][General]
containmentType=Latte
filterByScreen=true
spacing=2
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][25][Applets][45]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][25][Applets][45][Configuration]
PreloadWeight=100
SystrayContainmentId=26

[Containments][25][Applets][46]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][25][Applets][46][Configuration]
PreloadWeight=100

[Containments][25][Applets][46][Configuration][Appearance]
customDateFormat=dd 'de' MMM
dateFormat=customDate
enabledCalendarPlugins=/usr/lib/qt/plugins/plasmacalendarplugins/holidaysevents.so
fixedFont=true
fontSize=14
showSeparator=false
showWeekNumbers=true
use24hFormat=2

[Containments][25][Applets][46][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][57]
immutability=1
plugin=org.kde.latte.spacer

[Containments][25][Applets][57][Configuration]
PreloadWeight=42

[Containments][25][Applets][57][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][25][Applets][57][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][25][Applets][78]
immutability=1
plugin=org.kde.shutdownOrSwitch

[Containments][25][Applets][78][Configuration]
PreloadWeight=100

[Containments][25][Applets][78][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][25][Applets][78][Configuration][General]
leaveDirectly=false
showNewSession=false
showUsers=false

[Containments][25][ConfigDialog]
DialogHeight=604
DialogWidth=480

[Containments][25][Configuration]
PreloadWeight=42

[Containments][25][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=40;44;45;57;46;78
backgroundOnlyOnMaximized=true
blurEnabled=false
disablePanelShadowForMaximized=true
dragActiveWindowEnabled=true
iconSize=22
panelPosition=10
panelShadows=false
panelSize=100
shadows=None
solidBackgroundForMaximized=true
splitterPosition=2
splitterPosition2=3
taskScrollAction=ScrollNone
thickMargin=6
titleTooltips=false
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][25][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][25][Indicator][org.kde.latte.default][General]
enabledForApplets=false

[Containments][26]
PreloadWeight=42
activityId=
formfactor=2
immutability=1
lastScreen=11
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][26][Applets][47]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][26][Applets][47][Configuration]
PreloadWeight=62

[Containments][26][Applets][48]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][26][Applets][48][Configuration]
PreloadWeight=100

[Containments][26][Applets][49]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][26][Applets][49][Configuration]
PreloadWeight=52

[Containments][26][Applets][50]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][26][Applets][50][Configuration]
PreloadWeight=34

[Containments][26][Applets][51]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][26][Applets][51][Configuration]
PreloadWeight=62

[Containments][26][Applets][71]
immutability=1
plugin=org.kde.kscreen

[Containments][26][Applets][71][Configuration]
PreloadWeight=72

[Containments][26][Applets][72]
immutability=1
plugin=org.kde.plasma.weather

[Containments][26][Applets][72][Configuration]
PreloadWeight=77
source=wettercom|weather|Bello Horizonte, Landes Valencia, ES|ESYY07591;Bello Horizonte
updateInterval=30
weatherServiceProviders=bbcukmet,envcan,noaa,wettercom

[Containments][26][Applets][72][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][26][Applets][73]
immutability=1
plugin=touchpad

[Containments][26][Applets][73][Configuration]
PreloadWeight=42

[Containments][26][Applets][79]
immutability=1
plugin=org.kde.plasma.battery

[Containments][26][Applets][81]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][26][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][26][General]
extraItems=org.kde.plasma.nightcolorcontrol,org.kde.plasma.notifications,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.clipboard,TelegramDesktop,org.kde.kscreen,org.kde.plasma.keyboardindicator,touchpad,org.kde.plasma.weather,org.kde.plasma.battery
hiddenItems=touchpad
knownItems=org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.battery,org.kde.plasma.devicenotifier,org.kde.plasma.vault,org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.clipboard
shownItems=org.kde.plasma.devicenotifier,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.plasma.clipboard,org.kde.plasma.weather,org.kde.plasma.battery

[Containments][7]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=3
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][7][Applets][10]
immutability=1
plugin=org.kde.windowtitle

[Containments][7][Applets][10][Configuration]
PreloadWeight=42

[Containments][7][Applets][10][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][7][Applets][10][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
filterActivityInfo=false
filterByScreen=true
iconFillThickness=false
iconSize=22
lengthFirstMargin=6
lengthLastMargin=2
lengthMarginsLock=false
placeHolder=shαdøωbøøk
showAppMenuOnMouseEnter=true
subsMatch="Telegram Desktop","Programa de Manipulação de imagem do GNU"
subsReplace="Telegram","GIMP"

[Containments][7][Applets][11]
immutability=1
plugin=org.kde.windowappmenu

[Containments][7][Applets][11][Configuration]
PreloadWeight=42

[Containments][7][Applets][11][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][7][Applets][11][Configuration][General]
containmentType=Latte
filterByScreen=true
spacing=2
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][7][Applets][12]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][7][Applets][12][Configuration]
PreloadWeight=100
SystrayContainmentId=13

[Containments][7][Applets][23]
immutability=1
plugin=org.kde.plasma.chiliclock

[Containments][7][Applets][23][Configuration]
PreloadWeight=100

[Containments][7][Applets][23][Configuration][Appearance]
customDateFormat=dd 'de' MMM
dateFormat=customDate
enabledCalendarPlugins=/usr/lib/qt/plugins/plasmacalendarplugins/holidaysevents.so
fixedFont=true
fontSize=14
showSeparator=false
showWeekNumbers=true
use24hFormat=2

[Containments][7][Applets][23][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][7][Applets][58]
immutability=1
plugin=org.kde.latte.spacer

[Containments][7][Applets][58][Configuration]
PreloadWeight=42

[Containments][7][Applets][58][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][7][Applets][58][Configuration][General]
containmentType=Latte
lengthPixels=8

[Containments][7][Applets][77]
immutability=1
plugin=org.kde.shutdownOrSwitch

[Containments][7][Applets][77][Configuration]
PreloadWeight=100

[Containments][7][Applets][77][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][7][Applets][77][Configuration][General]
leaveDirectly=false
showFullName=false
showNewSession=false
showTechnicalInfo=true
showUsers=false

[Containments][7][ConfigDialog]
DialogHeight=592
DialogWidth=480

[Containments][7][Configuration]
PreloadWeight=42

[Containments][7][General]
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
animationsEnabled=false
appletOrder=10;11;12;58;23;77
backgroundOnlyOnMaximized=true
blurEnabled=false
dragActiveWindowEnabled=true
iconSize=22
inConfigureAppletsMode=true
panelPosition=10
panelShadows=false
panelSize=100
plasmaBackgroundForPopups=true
shadowOpacity=75
shadowSize=100
splitterPosition=2
splitterPosition2=3
taskScrollAction=ScrollNone
thickMargin=6
titleTooltips=false
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][7][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][7][Indicator][org.kde.latte.default][General]
enabledForApplets=false

[LayoutSettings]
background=
color=blue
lastUsedActivity=8408f9ab-bbd6-41ce-92cb-c1a9ffecd884
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
